<!DOCTYPE html>
<html>
<head>
    <title>Data Produk</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="admin-card">

    <h2 class="admin-title">
        🍽 Data Produk
    </h2>

    <a href="/dashboard" class="btn-kembali">
        ← Dashboard
    </a>

    <a href="/produk/tambah" class="btn-tambah">
        + Tambah Produk
    </a>

    <br><br>

    <div class="admin-table-wrapper">

    <table class="admin-table">

        <thead>
            <tr>
                <th>ID</th>
                <th>Gambar</th>
                <th>Nama Produk</th>
                <th>Harga</th>
                <th>Kategori</th>
                <th>Status</th>
                <th>Aksi</th>
            </tr>
        </thead>

        <tbody>

        <% produk.forEach(function(item){ %>

        <tr>

            <td>
                <%= item.id %>
            </td>

            <td>
                <img
                    src="/uploads/<%= item.gambar %>"
                    width="80"
                    class="preview-image"
                >
            </td>

            <td>
                <%= item.nama_produk %>
            </td>

            <td>
                Rp <%= Number(item.harga).toLocaleString("id-ID") %>
            </td>

            <td>
                <%= item.nama_kategori %>
            </td>

            <td>

                <% if(item.status === "Aktif"){ %>

                    <span class="status-aktif">
                        Aktif
                    </span>

                <% } else { %>

                    <span class="status-nonaktif">
                        Nonaktif
                    </span>

                <% } %>

            </td>

            <td class="action-buttons">
                <a href="/produk/edit/<%= item.id %>" class="btn-edit">
                    Edit
                </a>
                
                <% if(item.status === "Aktif"){ %>
                    <a href="/produk/nonaktif/<%= item.id %>" class="btn-hapus"
                        onclick="return confirm('Nonaktifkan produk ini?')">
                        Nonaktifkan
                    </a>
                
                <% } else { %>
                    
                    <a href="/produk/aktifkan/<%= item.id %>" class="btn-primary"
                        onclick="return confirm('Aktifkan kembali produk ini?')">
                        Aktifkan
                    </a>
                <% } %>
            </td>

        </tr>

        <% }) %>

        </tbody>

    </table>

    </div>

</div>

</body>
</html>